.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navBar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #e62429; /* A shade of red for hover state */
  }
  
  .logo {
    height: 50px; /* Adjust as needed */
  }
  